body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://static.vecteezy.com/system/resources/previews/014/177/204/original/light-blue-yellow-polygon-abstract-background-vector.jpg'),
                url('https://img.freepik.com/free-vector/polygonal-background-yellow-blue-tones_1095-280.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; 
    position: relative;
    height: 100vh;
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-box {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc; /* Added border styling */
    border-radius: 4px;
    width: 80%;
    font-size: 16px;
}

.headline {
    text-align: center;
    padding: 100px 20px 20px 20px;
    color: #333;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-top: 150px; /* Adjusted margin to make space for the fixed header */
    z-index: 1;
}

.product-section {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    z-index: 1;
}

.product-section:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

h2 {
    color: #333;
}

p {
    color: #666;
}