.login_pge{
    display: center;
    height:550px;
    width: 550px;
    background-image: url(login.jpeg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 125px;
}

.login_pge:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    
}

.page{
    height: 20px;
    width: 450px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: blanchedalmond;

}
.page:hover{
    color: white;
}
.for_cent{
    margin-left: 40%;
    font-size: x-large;

}
.height{
    height: 25px;
    width:200px;
    text-align: center;
    background-color: black;
    color: white;
}
#login{
    height: 40px;
    width: 300px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.btn{
    background-color: black;
    color: white;
}
.btn:hover{
    transform:scale(1.05);
    box-shadow: 3px 3px black;
    background-color:rgb(45, 44, 44) ;
    color: black;
}
