.login_pge{
    display: center;
    height:550px;
    width: 550px;
    background-color: rgb(149, 232, 138);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.page{
    height: 20px;
    width: 450px;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
.for_cent{
    margin-left: 40%;
    font-size: x-large;

}
.height{
    height: 25px;
    width:200px;
    text-align: center;
}
#login{
    height: 40px;
    width: 300px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 97, 97)
}